<!--==========================
  Header
  ============================-->
<header id="header">

    <nav id="nav-menu-container-top">
        <ul class="nav-menu-top">
            <li>
                <a href="https://www.tiktok.com/@myloveforcbd" target="_blank">
                    <div class="tiktokButton"></div>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/myloveforcbd/" target="_blank">
                    <div class="instagramButton"></div>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/MyLoveForCBD" target="_blank">
                    <div class="facebookButton"></div>
                </a>
            </li>
            <li>
                <a href="https://wa.me/525548172143/?text=Hola,%20estoy%20interesado/a%20en..." target="_blank">
                    <div class="whatsappButton"></div>
                </a>
            </li>
            <li>
                <a >
                    <img src="../../../assets/img/barra/carritoIcono.png" style="width: 35px;" alt="Carrito">
                </a>
            </li>
        </ul>
    </nav>

    <div id="miCuentaLink" >
        <a href="#">
            <img src="../../../assets/img/miCuentaIcono.png" style="width: 110px; position: absolute; top: 50px; right: 5px;" alt="Mi Cuenta">
        </a>
    </div>


    <div id="logo" class="pull-left">
        <a href="#home" style="padding-left: 50px;">
            <img src="../../../assets/img/logo/logosombra127.png" class="img-responsive" alt="MyLoveCBD Logo">
        </a>
    </div>

    <!-- #nav-menu-container -->
    <nav id="nav-menu-container" style="padding-left: 50px;">
        <ul class="nav-menu">
            <li class="menu-active"><a href="#home">Inicio</a></li>
            <li><a routerLink="/about">Nosotros</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <!--<li><a href="#informes">Informes</a></li>-->
            <li><a href="#contact">Venta al mayoreo</a></li>
            <li class="menu-has-children">
                <a href="#">Calculadora</a>
                <ul>
                    <li>
                        <!--<iframe src="" style="border:0;min-height:600px;height:100%;left:0;position:absolute;top:0;width:100%"></iframe><br>-->
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container">
    </div>
</header>
<!-- #header -->


<!--==========================
    home Section
  ============================-->
<section id="home">
    <div class="home-container">

        <div id="carouselWeb" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <!-- Recorrido del arreglo  -->

                <!-- Solo activa la primera imagen "class:active" -->
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../../../assets/img/carrusel/ejercicio.png" alt="Ejercicio">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/carrusel/limonada.png" alt="Limonada">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/carrusel/paletas.png" alt="Paletas">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="../../../assets/img/carrusel/perro.png" alt="Perro">
                </div>

            </div>
            <a class="carousel-control-prev" data-target="#carouselWeb" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" data-target="#carouselWeb" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>


        <!-- #movil 
        <div id="tituloMovil">
            <h1>INGENIERÍA DE SERVICIO EN TELECOMUNICACIONES</h1>
        </div>
        <div id="carouselMovil" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <ng-container *ngFor="let imagenMovil of imagenesMovil; let i = index">
                    <div *ngIf="i == 0" class="carousel-item active">
                        <img class="d-block w-100" [src]="imagenMovil.img" [alt]="imagenMovil.nombre">
                    </div>
                    <div *ngIf="i != 0" class="carousel-item">
                        <img class="d-block w-100" [src]="imagenMovil.img" [alt]="imagenMovil.nombre">
                    </div>
                </ng-container>
            </div>
            <a class="carousel-control-prev" data-target="#carouselMovil" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" data-target="#carouselMovil" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
        <!-- #movil - Fin 
        -->

    </div>
</section>
<!-- #home -->


<main id="main">

    <!--==========================
      Tienda Section
    ============================-->
    <section id="tienda">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Tienda</h3>
                <p class="section-description"></p>
            </div>

            <div class="row" id="tienda-wrapper">
                <div class="col-lg-2 col-md-6 tienda-item" *ngFor="let categoria of categorias">
                    <a [routerLink]="['/tienda', categoria.cve_categoria_articulo ]">
                        <img src="../../../assets/img/tienda/clasificacion/{{ categoria.imagen }}" alt="{{ categoria.nombre }}">
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- #tienda -->


    <!--==========================
      Informes Section
    ============================-->
    <!--
    <section id="informes">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">INFORMES</h3>
            </div>
        </div>
        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-12">

                    <div class="form">
                        <form id="form" class="informeForm">
                            <div class="form-group">
                                <select name="sel_categoria" id="sel_categoria" #miCategoria class="form-control" (change)="openProductList(miCategoria.value)">
                                    <option value="">Seleccione una categoria</option>
                                    <option [value]="categoria.id_categoria_articulo" *ngFor="let categoria of informesCategorias">{{categoria.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group"> 
                                <select name="sel_producto" id="sel_producto" #miProducto class="form-control" (change)="openSaborList(miProducto.value)">
                                    <option value="">Seleccione un producto</option>
                                    <option [value]="producto.nombre" *ngFor="let producto of informesProductos">{{producto.nombre}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="sel_sabor" id="sel_sabor" #miSabor class="form-control" (change)="openBotonDescarga(miSabor.value)">
                                    <option value="">Seleccione un sabor</option>
                                    <option [value]="sabor.informe" *ngFor="let sabor of informesSabores">{{sabor.sabor}}</option>
                                </select>
                            </div>
                            <div class="text-center" *ngIf="showBotonInforme">
                                <a href="../../../assets/docs/informes/{{ informeFile }}" target="_blank">Descargar</a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
    -->
    <!-- #informes -->


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Venta al mayoreo</h3>
            </div>
        </div>

        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            &nbsp;
                            <!--<i class="fa fa-map-marker"></i>
                            <p>Marsella 56<br>Col. Juarez<br>Cuauhtemoc, CDMX</p>-->
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>hola@myloveforcbd.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+52 55 48172143</p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="https://www.instagram.com/myloveforcbd/" target="_blank" class="foot-icon-bg-1"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/MyLoveForCBD" target="_blank" class="foot-icon-bg-2"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.tiktok.com/@myloveforcbd" target="_blank" class="foot-icon-bg-3"><i class="fab fa-tiktok"></i></a>
                        <a href="https://wa.me/525548172143/?text=Hola,%20estoy%20interesado/a%20en..." target="_blank" class="foot-icon-bg-4"><i class="fab fa-whatsapp"></i></a>
                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <div id="sendmessage">Su mensaje ha sido enviado. ¡Gracias!</div>
                        <div id="errormessage"></div>

                        <form id="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="from_name" id="from_name" class="form-control" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Su nombre debe tener al menos 4 caracteres">
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="from_email" id="from_email" class="form-control" placeholder="Tu email" data-rule="email" data-msg="Por favor ingresar un email valido">
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea type="text" name="message" id="message" class="form-control" rows="5" placeholder="Mensaje" data-rule="required" data-msg="Por favor escribenos algo"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="button">Enviar mensaje</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- #contact -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <a href="../../../assets/docs/terminosycondiciones.pdf" target="_blank">Terminos y Condiciones</a> / 
            <a href="../../../assets/docs/politicadeprivacidad.pdf" target="_blank">Politica de privacidad</a>
        </div>
        <div class="copyright">
            &copy; Copyright 2022, <strong>MY LOVE FOR CBD</strong>.
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="calculator" style="display: inline;">
    <img src="../../../assets/img/calculadoracbd.png" width='60px' alt="Calculadora1">
</a>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>