<main id="main">

    <!--==========================
      Construccion Section
    ============================-->
    <section id="construccion">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h2 class="section-title">MY LOVE FOR CBD</h2>
                <p class="section-description">Estamos trabajando para ti!<br>No dejes de visitarnos en Facebook, Instagram y Tik Tok</p>
            </div>
        </div>

        <img src="../../../assets/img/logo/mylove.png" class="img-responsive imgLogo" alt="MyLoveCBD Logo">

        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">

                <div class="col-lg-3 col-md-4">

                    <div class="info">
                        <div>
                            &nbsp;
                            <!--<i class="fa fa-map-marker"></i>
                            <p>Marsella 56<br>Col. Juarez<br>Cuauhtemoc, CDMX</p>-->
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>hola@myloveforcbd.com</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>+52 55 48172143</p>
                        </div>
                    </div>

                    <div class="social-links">
                        <a href="https://www.instagram.com/myloveforcbd/" target="_blank" class="foot-icon-bg-1"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/MyLoveForCBD" target="_blank" class="foot-icon-bg-2"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.tiktok.com/@myloveforcbd" target="_blank" class="foot-icon-bg-3"><i class="fab fa-tiktok"></i></a>
                        <a href="https://wa.me/525548172143/?text=Hola,%20estoy%20interesado/a%20en..." target="_blank" class="foot-icon-bg-4"><i class="fab fa-whatsapp"></i></a>
                    </div>

                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <div id="sendmessage">Su mensaje ha sido enviado. ¡Gracias!</div>
                        <div id="errormessage"></div>

                        <form id="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="from_name" id="from_name" class="form-control" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Su nombre debe tener al menos 4 caracteres">
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="from_email" id="from_email" class="form-control" placeholder="Tu email" data-rule="email" data-msg="Por favor ingresar un email valido">
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea type="text" name="message" id="message" class="form-control" rows="5" placeholder="Mensaje" data-rule="required" data-msg="Por favor escribenos algo"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="button">Enviar mensaje</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- #construccion -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright 2022, <strong>MyLoveForCBD</strong>.
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>