<!-- Menu -->
<app-menu></app-menu>

<!-- Header -->
<app-header></app-header>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Pedidos</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a routerLink="/dashboard">Dashboard</a></li>
                                <li class="active">Pedidos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="main-content">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>
                                    <button type="button" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5" data-toggle="modal" data-target="#exampleModalCenter"><i class="ti-plus"></i>Nuevo</button>
                                </h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th>#ID</th>
                                            <th>Cliente nombre</th>
                                            <th>Telefono</th>
                                            <th>Fecha</th>
                                            <th>Total</th>
                                            <th>Estatus</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let pedido of pedidos">
                                            <th scope="row">{{ pedido.cve_pedido}}</th>
                                            <td>{{ pedido.clientenombre + ' ' + pedido.clientepaterno + ' ' + pedido.clientematerno}}</td>
                                            <td>{{ pedido.telefono_contacto }}</td>
                                            <td>{{ pedido.fecha_creacion | date:'medium' }}</td>
                                            <td>{{ pedido.total | currency }}</td>
                                            <td>{{ pedido.pedidoestatus }}</td>
                                            <td class="text-center">
                                                <a href="#" class="tooltip-test" title="Editar"><i class="ti-pencil-alt pull-right"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->

                </div>
                <!-- /# row -->
            </div>
            <!-- /# main content -->
        </div>
        <!-- /# container-fluid -->
    </div>
    <!-- /# main -->
</div>
<!-- /# content wrap -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">Pedido nuevo</h4>
            </div>
            <div class="modal-body">

                <div class="card alert">
                    <div class="card-body">

                        <div class="basic-form">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Cliente</label>
                                            <input type="text" class="form-control" placeholder="Cliente">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Teléfono contacto</label>
                                            <input type="password" class="form-control" placeholder="Teléfono contacto">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Subtotal</label>
                                            <input type="text" class="form-control" placeholder="Subtotal">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Descuento</label>
                                            <input type="text" class="form-control" placeholder="Descuento">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>IVA</label>
                                            <input type="text" class="form-control" placeholder="IVA">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Costo de envío</label>
                                            <input type="text" class="form-control" placeholder="Costo de envío">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Total</label>
                                            <input type="text" class="form-control" placeholder="Total">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Numero de Guia</label>
                                            <input type="text" class="form-control" placeholder="Numero de Guia">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Estatus</label>
                                            <input type="text" class="form-control" placeholder="Estatus">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group"></div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>