<!-- Header -->
<div class="header">
    <div class="pull-left">
        <div class="logo">
            <a routerLink="/dashboard">
                <img id="logoImg" src="../../../assets/images/logo/logo_cbd_v3.png" data-logo_big="../../../assets/images/logo/logo_cbd_v3.png" data-logo_small="../../../assets/images/logo/logo_cbd_v3.png" alt="Logo_cbd" />
            </a>
        </div>
        <div class="hamburger sidebar-toggle">
            <span class="ti-menu"></span>
        </div>
    </div>
    <div class="pull-right p-r-15">
        <ul>
            <li class="header-icon dib">
                <img class="avatar-img" src="assets/images/avatar/1.jpg" alt="" /> <span class="user-avatar">Nombre <i class="ti-angle-down f-s-10"></i></span>
                <div class="drop-down dropdown-profile">
                    <div class="dropdown-content-body">
                        <ul>
                            <li><a routerLink="/mi-perfil"><i class="ti-user"></i> <span>Mi Perfil</span></a></li>
                            <li><a routerLink="/login"><i class="ti-power-off"></i> <span>Cerrar sesión</span></a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Header - Fin -->