<!--==========================
  Header
  ============================-->
  <header id="header">

    <nav id="nav-menu-container-top">
        <ul class="nav-menu-top">
            <li>
                <a href="https://www.tiktok.com/@myloveforcbd" target="_blank">
                    <img src="../../../assets/img/barra/tiktok.png" class="icono-top" alt="Tiktok">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/myloveforcbd/" target="_blank">
                    <img src="../../../assets/img/barra/insta.png" class="icono-top" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/MyLoveForCBD" target="_blank">
                    <img src="../../../assets/img/barra/face.png" class="icono-top" alt="Facebook">
                </a>
            </li>
            <li>
                <a href="https://wa.me/525548172143/?text=Hola,%20estoy%20interesado/a%20en..." target="_blank">
                    <img src="../../../assets/img/barra/whats.png" class="icono-top" alt="Whatsapp">
                </a>
            </li>
            <li>
                <a >
                    <img src="../../../assets/img/barra/carritoIcono.png" style="width: 35px;" alt="Carrito">
                </a>
            </li>
        </ul>
    </nav>

    <div id="miCuentaLink" >
        <a href="#">
            <img src="../../../assets/img/miCuentaIcono.png" style="width: 110px; position: absolute; top: 50px; right: 5px;" alt="Mi Cuenta">
        </a>
    </div>


    <div id="logo" class="pull-left">
        <a href="#home" style="padding-left: 50px;">
            <img src="../../../assets/img/logo/logosombra127.png" class="img-responsive" alt="MyLoveCBD Logo">
        </a>
    </div>

    <!-- #nav-menu-container -->
    <nav id="nav-menu-container" style="padding-left: 50px;">
        <ul class="nav-menu">
            <li class="menu-active"><a href="#home">Inicio</a></li>
            <li><a routerLink="/about">Nosotros</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <!--<li><a href="#informes">Informes</a></li>-->
            <li><a href="#contact">Venta al mayoreo</a></li>
            <li class="menu-has-children">
                <a href="#">Calculadora</a>
                <ul>
                    <li>
                        <!--<iframe src="" style="border:0;min-height:600px;height:100%;left:0;position:absolute;top:0;width:100%"></iframe><br>-->
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container">
    </div>
</header>
<!-- #header -->

<main id="main">

    <!--==========================
      Faq Section
    ============================-->
    <section id="faq">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">FAQ</h3>
                <p class="section-description"></p>
            </div>
            <div class="row">

                <details class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.2s">
                    <summary class="title">¿Qué es el CBD?</summary>
                    <p class="description">
                        El CBD es un compuesto natural que está presente en la flor resinosa del cannabis, una planta con una rica historia como medicamento que se remonta miles de años atrás. El CBD forma parte de los algo más de 100 cannabinoides exclusivos de la planta del cannabis. En la actualidad, los científicos y médicos de todo el mundo están probando y confirmando las propiedades terapéuticas del CBD. Una sustancia segura y no adictiva, el CBD es uno de los más de cien «fitocannabinoides», que son exclusivos del cannabis y le confieren a la planta su robusto perfil terapéutico.
                        <br><br>
                        El CBD está estrechamente relacionado con otro fitocannabinoide medicinalmente activo importante: el tetrahidrocannabinol (THC), el compuesto que causa la psicoactividad por el que es famoso el cannabis. Estos son los dos componentes del cannabis que han sido más estudiados por los científicos. 
                        <br><br>
                        El aceite de cannabis rico en CBD se usa como complemento o suplemento alimenticio, remedio tópico o tratamiento farmacológico para el alivio del dolor crónico, la inflamación en enfermedades inflamatorias intestinales o cutáneas, la ansiedad, la depresión o la gravedad y frecuencia de las convulsiones en epilepsias refractarias.  Se emplea asimismo para tratar síntomas de enfermedades neurológicas o neuropsiquiátricas como la esclerosis múltiple, el alzhéimer, el párkinson o la esquizofrenia.
                    </p>
                 </details>
                 <details class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                    <summary class="title">¿Qué no hace el CBD?</summary>
                    <p class="description">
                        El CBD NO te hace sentir “high”
                        <br><br>
                        El CBD NO produce adicción
                        <br><br>
                        El CBD NO es Marihuana
                    </p>
                 </details>
                 <details class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.6s">
                    <summary class="title">¿Qué Diferencia Hay Entre CBD y THC?</summary>
                    <p class="description">CBD significa Cannabidiol, y THC tetrahidrocannabidiol. Ambos son ingredientes claves de las plantas de marihuana. Los cannabinoides son una clase única de compuestos, y tanto el CBD como el THC pertenecen a esta clase. Las cepas con un THC alto, son muy comunes en lo que respecta a la marihuana, pero las cepas altas en CBD no son tan abundantes. Las principales diferencias entre el CBD y el THC.</p>
                 </details>
                 <details class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.8s">
                    <summary class="title">Diferencias entre CBD y THC</summary>
                    <p class="description">
                        <strong>CBD:</strong> 
                        <br>
                        No es psicoactivo. <br>
                        No se conocen efectos secundarios. <br>
                        Contrarresta los efectos psicoactivos del THC. <br>
                        Es legal en la mayoría de países. <br>
                        <br>
                        <strong>THC:</strong> 
                        <br>
                        Psicoactivo, genera adicción <br>
                        Tiene efectos secundarios como paranoia y ansiedad. <br>
                        Los efectos pueden provocar psicosis. <br>
                        Es ilegal en muchos países. <br>
                    </p>
                 </details>

            </div>
        </div>
    </section>
    <!-- #faq -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <a href="../../../assets/docs/terminosycondiciones.pdf" target="_blank">Terminos y Condiciones</a> / 
            <a href="../../../assets/docs/politicadeprivacidad.pdf" target="_blank">Politica de privacidad</a>
        </div>
        <div class="copyright">
            &copy; Copyright 2022, <strong>MY LOVE FOR CBD</strong>.
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>