<!-- Menu -->
<app-menu></app-menu>

<!-- Header -->
<app-header></app-header>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Usuarios</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-0">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a routerLink="/dashboard">Dashboard</a></li>
                                <li class="active">Usuarios</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div class="main-content">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header">
                                <h4>
                                    <button type="button" (click)="nuevo()" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5" data-toggle="modal" data-target="#usuariosModalCenter"><i class="ti-plus"></i>Nuevo</button>
                                </h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#ID</th>
                                            <th class="text-center">Usuario</th>
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Perfil</th>
                                            <th class="text-center">Estatus</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                                            <th class="text-center" scope="row">{{ usuario.cve_usuario}}</th>
                                            <td class="text-center">{{ usuario.usuario}}</td>
                                            <td>{{ usuario.nombre + ' ' + usuario.paterno + ' ' + usuario.materno}}</td>
                                            <td class="text-center">{{ usuario.email }}</td>
                                            <td class="text-center color-primary">{{ usuario.perfil }}</td>
                                            <td class="text-center">
                                                <ng-template [ngIf]="usuario.ban_activo == '1'"><span class="badge badge-primary">Activo</span></ng-template>
                                                <ng-template [ngIf]="usuario.ban_activo == '0'"><span class="badge badge-danger">Inactivo</span></ng-template>
                                            </td>
                                            <td class="text-center">
                                                <a (click)="editar( usuario.cve_usuario )" class="tooltip-test" title="Editar" data-toggle="modal" data-target="#usuariosModalCenter"><i class="ti-pencil-alt pull-center"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <!-- Control de paginador-->
                                <div class="page-header">
                                    <div class="page-title">
                                        <div class="breadcrumb text-right">
                                            <pagination-controls [responsive]="responsive" [previousLabel]="previousLabel" [nextLabel]="nextLabel" (pageChange)="currentPage = $event"></pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->

                </div>
                <!-- /# row -->
            </div>
            <!-- /# main content -->
        </div>
        <!-- /# container-fluid -->
    </div>
    <!-- /# main -->
</div>
<!-- /# content wrap -->


<!-- Modal -->
<div class="modal fade" id="usuariosModalCenter" tabindex="-1" role="dialog" aria-labelledby="usuariosModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="card alert">
                    <div class="card-body">
                        <div class="basic-form">


                            <form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
                                <input type="hidden" formControlName="id">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="usuarioNoValido">
                                            <label>Usuario</label>
                                            <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                                            <small *ngIf="usuarioNoValido" class="text-danger">Ingrese al menos 8 letras</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="contrasenaNoValido">
                                            <label>Contraseña</label>
                                            <input type="password" class="form-control" placeholder="Contraseña" formControlName="contrasena">
                                            <small *ngIf="contrasenaNoValido" class="text-danger">Ingrese al menos 8 caracteres</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="nombreNoValido">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                                            <small *ngIf="nombreNoValido" class="text-danger">Ingrese nombre</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="paternoNoValido">
                                            <label>Paterno</label>
                                            <input type="text" class="form-control" placeholder="Paterno" formControlName="paterno">
                                            <small *ngIf="paternoNoValido" class="text-danger">Ingrese paterno</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Materno</label>
                                            <input type="text" class="form-control" placeholder="Materno" formControlName="materno">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="emailNoValido">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email" formControlName="email">
                                            <small *ngIf="emailNoValido" class="text-danger">Ingrese email valido</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="perfilNoValido">
                                            <label>Perfil</label>
                                            <select class="form-control" formControlName="perfil">
                                                <option value=""></option>
                                                <option *ngFor="let perfil of usuarioPerfil" [value]="perfil.cve_perfil">{{ perfil.nombre }}</option>
                                            </select>
                                            <small *ngIf="perfilNoValido" class="text-danger">Ingrese perfil</small>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group" [class.has-error]="estatusNoValido">
                                            <label>Estatus</label>
                                            <select class="form-control" formControlName="estatus">
                                                <option value="1">Activo</option>
                                                <option value="0">Inactivo</option>
                                            </select>
                                            <small *ngIf="estatusNoValido" class="text-danger">Ingrese estatus</small>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="modal-footer">
                                                <div class="form-group fa-pull-right">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="mensajeError" class="alert alert-danger alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        <strong>¡Atencion!</strong> {{ respuesta.message }}.
                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>