<!-- Menu -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>

                <li><a routerLink="/dashboard"><i class="ti-home"></i> Dashboard</a></li>
                <li><a routerLink="/clientes"><i class="ti-crown"></i> Clientes</a></li>
                <li><a routerLink="/pedidos"><i class="ti-shopping-cart-full"></i> Pedidos</a></li>
                <li><a routerLink="/inventario"><i class="ti-layout"></i> Inventario</a></li>
                <li><a routerLink="/usuarios"><i class="ti-user"></i> Usuarios</a></li>
                <li><a routerLink="/reportes"><i class="ti-files"></i> Reportes</a></li>
                <li><a routerLink="/blog"><i class="ti-clipboard"></i> Blog</a></li>
                <li><a routerLink="/front"><i class="ti-layers-alt"></i> Front</a></li>
                <li><a routerLink="/mayoreo"><i class="ti-tag"></i> Mayoreo</a></li>

            </ul>
        </div>
    </div>
</div>
<!-- Menu - Fin -->