<!--==========================
  Header
  ============================-->
  <header id="header">

    <nav id="nav-menu-container-top">
        <ul class="nav-menu-top">
            <li>
                <a href="https://www.tiktok.com/@myloveforcbd" target="_blank">
                    <div class="tiktokButton"></div>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/myloveforcbd/" target="_blank">
                    <div class="instagramButton"></div>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/MyLoveForCBD" target="_blank">
                    <div class="facebookButton"></div>
                </a>
            </li>
            <li>
                <a href="https://wa.me/525548172143/?text=Hola,%20estoy%20interesado/a%20en..." target="_blank">
                    <div class="whatsappButton"></div>
                </a>
            </li>
            <li>
                <a >
                    <img src="../../../assets/img/barra/carritoIcono.png" style="width: 35px;" alt="Carrito">
                </a>
            </li>
        </ul>
    </nav>

    <div id="miCuentaLink" >
        <a href="#">
            <img src="../../../assets/img/miCuentaIcono.png" style="width: 110px; position: absolute; top: 50px; right: 5px;" alt="Mi Cuenta">
        </a>
    </div>


    <div id="logo" class="pull-left">
        <a href="#home" style="padding-left: 50px;">
            <img src="../../../assets/img/logo/logosombra127.png" class="img-responsive" alt="MyLoveCBD Logo">
        </a>
    </div>

    <!-- #nav-menu-container -->
    <nav id="nav-menu-container" style="padding-left: 50px;">
        <ul class="nav-menu">
            <li class="menu-active"><a href="#home">Inicio</a></li>
            <li><a routerLink="/about">Nosotros</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <!--<li><a href="#informes">Informes</a></li>-->
            <li><a href="#contact">Venta al mayoreo</a></li>
            <li class="menu-has-children">
                <a href="#">Calculadora</a>
                <ul>
                    <li>
                        <!--<iframe src="" style="border:0;min-height:600px;height:100%;left:0;position:absolute;top:0;width:100%"></iframe><br>-->
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container">
    </div>
</header>
<!-- #header -->

<main id="main">

    <!--==========================
      Blog Section
    ============================-->
    <section id="blog">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">BLOG</h3>
                <p class="section-description"></p>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="title">Uso del CBD</h4>
                    <h4 class="subtitle">Auxiliar terapéutico</h4>
                    <p class="col-lg-12 content text-justify">
                        Los cannabinoides son sustancias presentes en la planta de cannabis que actúan sobre receptores específicos en el cerebro y el cuerpo humanos (NASEM, 2017); 
                        son los principales principios activos tanto en los medicamentos derivados del cannabis como en los preparados de cannabis. Los cannabinoides también se 
                        encuentran en el cuerpo humano (endocannabinoides), pero los que se consumen con fines médicos proceden de la planta del cannabis (cannabinoides de origen 
                        vegetal, también conocidos como fitocannabinoides) o se sintetizan en el laboratorio (cannabinoides sintéticos).
                    </p>
                    <div class="col-lg-12 content text-right" >
                        <a routerLink="/nota1">Leer mas...</a>
                    </div>
    
                    <hr>

                    <h4 class="title">Otros usos del CBD</h4>
                    <h4 class="subtitle">1. Como antieméticos.</h4>
                    <p>
                        Para prevenir o reducir náuseas y vómito.
                    </p>
                    <h4 class="subtitle">2. Para el dolor neuropático y la espasticidad en la esclerosis múltiple</h4>
                    <p>
                        Ayuda a controlar los espasmos musculares en pacientes con esclerosis múltiple.
                    </p>
                    <div class="col-lg-12 content text-right" >
                        <a routerLink="/nota2">Leer mas...</a>
                    </div>
                    
                  </div>
            </div>
        </div>
    </section>
    <!-- #blog -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <a href="../../../assets/docs/terminosycondiciones.pdf" target="_blank">Terminos y Condiciones</a> / 
            <a href="../../../assets/docs/politicadeprivacidad.pdf" target="_blank">Politica de privacidad</a>
        </div>
        <div class="copyright">
            &copy; Copyright 2022, <strong>MY LOVE FOR CBD</strong>.
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
