<!--==========================
  Header
  ============================-->
  <header id="header">

    <nav id="nav-menu-container-top">
        <ul class="nav-menu-top">
            <li>
                <a href="https://www.tiktok.com/@myloveforcbd" target="_blank">
                    <div class="tiktokButton"></div>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/myloveforcbd/" target="_blank">
                    <div class="instagramButton"></div>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/MyLoveForCBD" target="_blank">
                    <div class="facebookButton"></div>
                </a>
            </li>
            <li>
                <a href="https://wa.me/525548172143/?text=Hola,%20estoy%20interesado/a%20en..." target="_blank">
                    <div class="whatsappButton"></div>
                </a>
            </li>
            <li>
                <a >
                    <img src="../../../assets/img/barra/carritoIcono.png" style="width: 35px;" alt="Carrito">
                </a>
            </li>
        </ul>
    </nav>

    <div id="miCuentaLink" >
        <a href="#">
            <img src="../../../assets/img/miCuentaIcono.png" style="width: 110px; position: absolute; top: 50px; right: 5px;" alt="Mi Cuenta">
        </a>
    </div>


    <div id="logo" class="pull-left">
        <a href="#home" style="padding-left: 50px;">
            <img src="../../../assets/img/logo/logosombra127.png" class="img-responsive" alt="MyLoveCBD Logo">
        </a>
    </div>

    <!-- #nav-menu-container -->
    <nav id="nav-menu-container" style="padding-left: 50px;">
        <ul class="nav-menu">
            <li class="menu-active"><a href="#home">Inicio</a></li>
            <li><a routerLink="/about">Nosotros</a></li>
            <li><a href="#tienda">Tienda</a></li>
            <li><a routerLink="/faq">FAQ</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <!--<li><a href="#informes">Informes</a></li>-->
            <li><a href="#contact">Venta al mayoreo</a></li>
            <li class="menu-has-children">
                <a href="#">Calculadora</a>
                <ul>
                    <li>
                        <!--<iframe src="" style="border:0;min-height:600px;height:100%;left:0;position:absolute;top:0;width:100%"></iframe><br>-->
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div class="container">
    </div>
</header>
<!-- #header -->

<main id="main">

    <!--==========================
      Blog Section
    ============================-->
    <section id="blog">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">BLOG</h3>
                <p class="section-description"></p>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="title">Uso del CBD</h4>
                    <h4 class="subtitle">Auxiliar terapéutico</h4>
                    <p>
                        Los cannabinoides son sustancias presentes en la planta de cannabis que actúan sobre receptores específicos en el cerebro y el cuerpo humanos (NASEM, 2017); 
                        son los principales principios activos tanto en los medicamentos derivados del cannabis como en los preparados de cannabis. Los cannabinoides también se 
                        encuentran en el cuerpo humano (endocannabinoides), pero los que se consumen con fines médicos proceden de la planta del cannabis (cannabinoides de origen 
                        vegetal, también conocidos como fitocannabinoides) o se sintetizan en el laboratorio (cannabinoides sintéticos).
                    </p>

                    <h4 class="subtitle">Potencial terapéutico de fármacos cannabinoides.</h4>
                    <p>
                        Debido al diseño de moléculas más selectivas y con mayor potencia farmacológica (dronabinol, nabilona y canabidiol, entre otras) se le han adjudicado ciertas 
                        propiedades terapéuticas, entre las que destacan:
                    </p>
                    <p>
                        <b>Dolor:</b> Los cannabinoides tienen cierto efecto analgésico, especialmente para el dolor crónico. Los cannabinoides podrían ser utilizados para reducir las dosis 
                        de morfina en tratamientos de dolor crónico, sin merma del efecto analgésico, pero con una reducción del potencial adictivo del opiáceo.
                    </p>
                    <p>
                        <b>Coordinación Motora:</b> De acuerdo con el papel que el sistema endocannabinoide parece jugar en el control del movimiento,  se ha sugerido un potencial efecto 
                        benéfico en las enfermedades que se caracterizan por hiperquinesia como la Corea de Huntington y el Síndrome de Gilles de la Tourette; asimismo, podrían ser 
                        útiles como coadyuvantes en el tratamiento de Síndromes Hipoquinéticos como la Enfermedad de Parkinson.
                    </p>

                    <p>
                        <b>Esclerosis Múltiple:</b> En esta enfermedad neurológica de origen autoinmune, los cannabinoides tendrían un efecto benéfico sobre algunos de los síntomas de la 
                        enfermedad, como la espasticidad en pacientes que se automedican con cannabis.. La gran mayoría de estudios que existen son preclínicos, es decir con modelos 
                        animales de la enfermedad, en los cuales se ha reportado que los cannabinodes pueden producir cierta reducción de los signos clínicos.
                    </p>
                    <p>
                        <b>Glaucoma:</b> Los cannabinoides podrían ser capaces de reducir el incremento de la presión intraocular propia del glaucoma y evitar la disminución de la 
                        capacidad visual.
                    </p>
                    <p>
                        <b>Cáncer y SIDA:</b> Debido a que cuenta con potencial efecto antiemético y capacidad de incrementar el apetito, los cannabinoides se han planteado para reducir la 
                        náusea y el vómito en pacientes con cáncer tratados con antineoplásicos, o para reducir la caquexia en pacientes con SIDA que mantienen de forma crónica, 
                        tratamientos con compuestos antirretrovirales.
                    </p>

                    <hr>

                    <h4 class="title">Otros usos del CBD</h4>
                    <h4 class="subtitle">1. Como antieméticos.</h4>
                    <p>
                        Para prevenir o reducir náuseas y vómito.
                    </p>
                    <h4 class="subtitle">2. Para el dolor neuropático y la espasticidad en la esclerosis múltiple</h4>
                    <p>
                        Ayuda a controlar los espasmos musculares en pacientes con esclerosis múltiple.
                    </p>
                    <h4 class="subtitle">3. Para epilepsia.</h4>
                    <p>
                        Cómo tratamiento complementario en personas con síndrome de Dravet o Lennox-Gastaut y Epilepsia infantil resistente al tratamiento.
                    </p>
                    <h4 class="subtitle">4. Para estimular el apetito.</h4>
                    <h4 class="subtitle">5. Para el dolor crónico no oncológico.</h4>
                    <p>
                        Se incluyen aquí el dolor neuropático, la artritis, el dolor de espalda, el dolor de cuello y hombros y el dolor de cabeza.
                    </p>
                    <h4 class="subtitle">6. Para cuidados paliativos en oncología.</h4>
                    <p>
                        Para controlar una amplia variedad de síntomas comunicados por los pacientes con cáncer terminal mediante el control del dolor, la estimulación 
                        del apetito, la reducción de la ansiedad y la mejora del sueño.
                    </p>

                    <h4 class="subtitle">Referencias</h4>
                    <p>
                        Garcia-Gutiérrez, M. et.al.(2020). Cannabidiol: A Potential New Alternative for the Treatment of Anxiety, Depression, and Psychotic Disorder. 
                        Neurosciences Institute, University Miguel Hernández-CSIC, Avda de Ramón y Cajal s/n, San Juan de Alicante, 03550 Alicante, Spain.
                    </p>
                    <p>
                        Muñoz J. (2021). Grupo de Investigación Sosteli, Colombia. El cannabidiol y sus indicaciones en psiquiatría Medicina U.P.B., vol. 40, núm. 1, 
                        pp. 65-76, 2021 Universidad Pontificia Bolivariana
                    </p>
                    
                  </div>
            </div>
        </div>
    </section>
    <!-- #blog -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <a href="../../../assets/docs/terminosycondiciones.pdf" target="_blank">Terminos y Condiciones</a> / 
            <a href="../../../assets/docs/politicadeprivacidad.pdf" target="_blank">Politica de privacidad</a>
        </div>
        <div class="copyright">
            &copy; Copyright 2022, <strong>MY LOVE FOR CBD</strong>.
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
