<!--==========================
  Header fijo
  ============================-->
  <header id="headerfijo">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#home">
                <img src="../../../assets/img/logo/mylove.png" class="img-responsive" alt="MyLoveCBD Logo">
            </a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#home">Inicio</a></li>
                <li><a routerLink="/about">Nosotros</a></li>
                <li><a href="#tienda">Tienda</a></li>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/blog">Blog</a></li>
                <!--<li><a href="#informes">Informes</a></li>-->
                <li><a href="#contact">Venta al mayoreo</a></li>
                <li class="menu-has-children">
                    <a href="#">Calculadora</a>
                    <ul>
                        <li>
                            <!--<iframe src="" style="border:0;min-height:600px;height:100%;left:0;position:absolute;top:0;width:100%"></iframe><br>-->
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<main id="main">

<!--==========================
      Politica Section
    ============================-->
    <section id="politica">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Política de Privacidad</h3>
                <p class="section-description"></p>
            </div>

            <div class="row" id="politica-wrapper">

                <p>
                ¿QUÉ HACEMOS CON SU INFORMACIÓN?
                <br>
                Cuando compras algo en nuestra tienda, como parte del proceso de compra y venta, recopilamos la información personal que nos proporciona, como su nombre, dirección y dirección de correo electrónico.
                </p>
                <p>
                Cuando navega por nuestra tienda, también recibimos automáticamente la dirección de protocolo de Internet (IP) de su computadora para proporcionarnos información que nos ayude a conocer su navegador y sistema operativo.
                </p>
                <p>
                Marketing por correo electrónico y mensajería de texto: con su permiso, podemos enviarle correos electrónicos sobre nuestra tienda, nuevos productos y otras actualizaciones.
                </p>
                <p>
                CONSENTIMIENTO
                <br>
                ¿Cómo se obtiene mi consentimiento?
                </p>
                <p>
                Cuando nos proporciona información personal para completar una transacción, verificar su tarjeta de crédito, realizar un pedido, organizar una entrega o devolver una compra, damos por hecho que acepta que la recopilemos y la usemos solo para este motivo específico. Si le pedimos su información personal por una razón secundaria, como marketing, le pediremos directamente su consentimiento expreso o le daremos la oportunidad de decir que no.
                </p>
                <p>
                ¿Cómo retiro mi consentimiento?
                </p>
                <p>
                Si después de optar por participar, cambia de opinión, puede retirar su consentimiento para que nos comuniquemos con usted, para la recopilación, uso o divulgación continua de su información, en cualquier momento, comunicándose con nosotros en contacto@myloveforcbd.com
                </p>
                <p>
                DIVULGACIÓN
                <br>
                Podemos divulgar su información personal si así lo exige la ley o si viola nuestros términos de servicio.
                </p>
                <p>
                    <br><br>
                Servicios de terceros.
                </p>
                <p>
                Para estos proveedores, le recomendamos que lea sus políticas de privacidad para que pueda comprender la forma en que estos proveedores manejarán su información personal. En particular, recuerde que ciertos proveedores pueden tener instalaciones ubicadas en una jurisdicción diferente a la suya o la nuestra. Por lo tanto, si elige continuar con una transacción que involucra los servicios de un proveedor de servicios externo, entonces su información puede quedar sujeta a las leyes de las jurisdicciones en las que se encuentran ese proveedor de servicios o sus instalaciones.
                </p>
                <p>
                Por ejemplo, si se encuentra en México y su transacción es procesada por una pasarela de pago ubicada en los Estados Unidos, su información personal utilizada para completar esta transacción puede estar sujeta a divulgación según la legislación de los Estados Unidos, incluida la Ley Patriota. Una vez que abandona el sitio web de nuestra tienda o es redirigido a un sitio web o aplicación de terceros, ya no se rige por esta Política de privacidad ni por los términos de servicio de nuestro sitio web.
                </p>
                <p>
                Enlaces
                <br>
                Cuando hace clic en los enlaces de nuestra tienda, es posible que lo desvíen de nuestro sitio. No somos responsables de las prácticas de privacidad de otros sitios y le recomendamos que lea sus declaraciones de privacidad.
                </p>
                <p>
                Google Analytics: nuestra tienda utiliza Google Analytics para ayudarnos a conocer quién visita nuestro sitio y qué páginas se visitan.
                </p>
                <p>
                SEGURIDAD
                <br>
                Para proteger su información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria para asegurarnos de que no se pierda, use indebidamente, acceda, divulgue, altere o destruya de manera inapropiada.
                </p>
                <p>
                Si nos proporciona la información de su tarjeta de crédito, la información se cifra mediante la tecnología de capa de conexión segura (SSL) y se almacena con un cifrado AES-256. Aunque ningún método de transmisión a través de Internet o almacenamiento electrónico es 100% seguro, seguimos todos los requisitos de PCI-DSS e implementamos estándares adicionales de la industria.
                </p>
                <p>
                Usamos "cookies" para ayudarnos a brindar una mejor experiencia de usuario al medir qué áreas del sitio web son de mayor interés. También podemos utilizar cookies cuando se registra para obtener más información. En esta situación, una cookie almacenará información útil que permitirá que nuestro sitio web lo recuerde cuando regrese. Puede optar por desactivar las cookies utilizando las herramientas de su navegador. Sin embargo, al hacerlo, es posible que no pueda aprovechar todas las funciones de nuestro sitio web.
                </p>
                <p>
                EDAD DE CONSENTIMIENTO
                <br>
                Al utilizar este sitio, usted declara que tiene al menos la mayoría de edad en su estado o provincia de residencia, o que tiene la mayoría de edad en su estado o provincia de residencia y que nos ha dado su consentimiento para permitir cualquiera de sus dependientes menores para usar este sitio.
                </p>
                <p>
                Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, así que revísela con frecuencia. Los cambios y aclaraciones entrarán en vigor inmediatamente después de su publicación en el sitio web. Si realizamos cambios sustanciales a esta política, le notificaremos aquí que se ha actualizado, para que sepa qué información recopilamos, cómo la usamos y bajo qué circunstancias, si las hay, usamos y / o divulgamos. eso.
                </p>
                <p>
                Si tiene alguna pregunta sobre esta Política de privacidad o las prácticas aquí descritas, puede comunicarse con nosotros a través de la información de contacto proporcionada en este sitio web.
                </p>
                <p>
                My Love for CBD, SAPI de CV
                </p>

    
                
            </div>
        </div>
    </section><!-- #politica -->

</main>

<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            <a routerLink="/terminos">Terminos y Condiciones</a> / <a routerLink="/politica">Politica de privacidad</a>
        </div>
        <div class="copyright">
            &copy; Copyright 2022, <strong>MY LOVE FOR CBD</strong>.
        </div>
    </div>
</footer>
<!-- #footer -->